.mainHeader {
    display: grid;
    grid-template-columns: auto  1fr auto ;
    padding: 8px 40px;
    align-items: center;
    user-select: none;

}

.headerLogo {
    font-weight: 600;
}

.headerSearchContainer {
    margin: 0 auto;
    width: 700px;
    background-color: #F1F3F4;
    padding: 6px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    padding-left: 24px;
}

.mobileheaderSearchContainer {
    display: none;
}


.focusheaderSearchContainer {
    background-color: #fff !important;
    box-shadow:  1px 1px 10px gray ;
    transition: background-color 100ms ease-in,width 100ms ease-out;
}

.searchText {
    border: none;
    outline: none;
    margin-left: 1px;
    width: 100%;
    padding: 10px;
    background-color: transparent;
    color: #000;
    font-size: 18px;
}

.searchText::placeholder {
    color: gray;
}

.mainHeaderContainer {
    border-bottom: 1px solid #dadce0;
    // background-color: floralwhite;
}

@media screen and (max-width:1000px){
    .headerSearchContainer{
        display: none;
    }
    .mobileheaderSearchContainer {
        margin: 10px auto;
        width: 90%;
        background-color: #F1F3F4;
        padding: 6px;
        border-radius: 12px;
        display: flex;
        align-items: center;
        padding-left: 24px;
        // margin-top: 20px;
    
    }

    .mainHeader {
        display: flex;
        justify-content: space-between;
    }

    
}

.logout {
    background-color: rgb(94, 21, 21);
    width: 160px;

    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 16px;
    color: #fff;
    font-weight: 600;
    border-radius: 4px;
    font-family: "Sans serif";
    cursor: pointer;
}

.login {
    background-color: rgb(83, 174, 226);
    width: 160px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 14px 16px;
    color: #fff;
    font-weight: 600;
    border-radius: 4px;
    font-family: "Sans serif";

}

.userContainer {
    display: flex;
    align-items: center;
    gap: 10px;
}

.username {
    font-weight: 600;
    user-select: none;
}

.logoutButton {
    font-weight: 600;
    user-select: none;
    cursor: pointer;
    border-radius: 4px;
    z-index: 100;
}

.dropdownAction {
    // background-color: red;
    margin-top: 10px;
    text-align: center;
    // margin-right: 10px;
    background-color: #fff;
    padding: 10px 20px;
    box-shadow: 0px 0px 20px 4px rgba(0,0,0,0.1);
    position: absolute;
    width: 130px;
    z-index: 100;

}


.headerLogo {
    padding: 14px 22px;
    background-color: rgba(199, 0, 52, 0.8);
    color: #fff;
    border-radius: 8px;
}

